<div class="container">
  <div>
    <label>First Name:&nbsp</label>
    <input type="text" name="user_params[first_name]">
  </div>
  <div>
    <label>Middle Initial:&nbsp</label>
    <input type="text" name="user_params[middle_initial]">
  </div>
  <div>
    <label>Last Name:&nbsp</label>
    <input type="text" name="user_params[last_name]">
  </div>
  <div>
    <label>Email:&nbsp</label>
    <input type="text" name="user_params[email]">
  </div>
  <div>
    <label>Password:&nbsp</label>
    <input type="password" name="user_params[password]">
  </div>
  <div>
    <label>Hometown:&nbsp</label>
    <input type="text" name="user_params[hometown]">
  </div>
  <div>
    <label>First Name:&nbsp</label>
    <input type="text" name="user_params[first_name]">
  </div>
</div>
