<h1 id="landing-page">Where have you been?</h1>

<form class="landing-page-button" action="/login/new" method="get">
  <button class="landing-page-login" type="button" name="login"></button>
</form>

<form class="landing-page-button" action="/users/new" method="get">
  <button class="landing-page-signup" type="button" name="signup"></button>
</form>
